.App {
  text-align: center;
  margin: 1rem 2rem;
}

.buttonGroup {
  height: 4rem;
}

.button {
  border: 1px solid black;
  border-radius: 20rem;
  margin: 0.2rem auto;
  padding: 0.4rem 0.8rem;
  width: 6rem;

}

.button:hover {
  background-color: darkcyan;
  cursor: pointer;
  color: white;
  border: 1px solid white;

}

.lostMessage {
  color: red; 
  font-weight: bolder;
  margin: 0.2rem auto;
}

.winMessage {
  color: green;
  font-weight: bolder;
  margin: 0.2rem auto;
}

.setMarker {
  font-size: 0.8rem;
  font-weight: bold;
  color: darkslategray;
  margin: 0
}






@media (min-width: 600px) { 
  .App {
    margin: 1rem 4rem;
  }
  .buttonStart {
    width: 6rem;
  }
}

@media (min-width: 768px) {
  .App {
    margin: 1rem 6rem;
  }
  .buttonStart {
    width: 8rem;
  }
}

@media (min-width: 992px) {
  .App {
    margin: 1rem 10rem;
  }

}

@media (min-width: 1200px) {
  .App {
    margin: 1rem 15rem;
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
